
@media screen and (max-width: 1370px){
    .box-brochure:before {
        zoom: 0.8;
        -ms-zoom: 0.8;
        -webkit-zoom: 0.8;
        -moz-transform:  scale(0.8,0.8);
        -moz-transform-origin: left center;
    }
}

@media screen and (max-width: 1220px){
    .content .box-shadow {
        padding-bottom: 60px;
    }
}

@media screen and (max-width: 1024px){
    html {
        font-size: 90%;
    }

    .content h3 {
        font-size: 2.4rem;
        line-height: 2.5rem;
    }

    .box-brochure {
        padding-left: 30%;
    }

    .box-brochure:before {
        zoom: 0.6;
        -ms-zoom: 0.6;
        -webkit-zoom: 0.6;
        -moz-transform:  scale(0.6,0.6);
        -moz-transform-origin: left center;
    }

    .main-nav ul li {
        margin: 5px;
    }
}

@media screen and (max-width: 767px){
    html {
        font-size: 80%;
    }

    .header__logo {
        display: block;
        text-align: center;
    }

    .main-nav {
        width: 100%;
        text-align: center;
    }

    .box-brochure {
        width: 100%;
        padding: 25px;
    }

    .box-brochure:before {
        display: none;
    }

    .content .box-shadow__text {
        font-size: 1.1rem;
        line-height: 1.2rem;
    }

    .content .box-shadow {
        width: 100%;
        margin-bottom: 50px;
    }

    .find-your-fit {
        padding-bottom: 50px;
    }

    .footer .footer__socials {
        padding-top: 30px;
        text-align: center;
    }
}