/**
*
* Blockquote
*
**/

.blockquote {
    margin: 1em 0;
    padding: 30px 10px 10px 50px;

    > p {
        position: relative;
        font-size: 1.25rem;


        &:first-child:before,
        &:first-child:after {
            position: absolute;
            font-size: 1.4em;
            color: #fff;
        }

       &:first-child:before {
            content: '';
            background: url('/img/quote.svg');
            width: 35px;
            height: 30px;

            margin-top: -8px;
            margin-left: -50px;
        }

        // &:last-of-type:after {
        //     position: absolute;
        //     right: 0;
        //     content: '\201D';
        //     width: 25px;
        //     height: 25px;
        //     bottom: 0;

        //     font-size: 5em;
        //     font-weight: 600;
        // }

        &:last-of-type {
            margin-bottom: .5em;
        }
    }
}